@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 52% 100%;
    --foreground: 214 80% 4%;

    --muted: 214 24% 92%;
    --muted-foreground: 214 6% 35%;

    --popover: 214 52% 100%;
    --popover-foreground: 214 80% 4%;

    --card: 214 52% 100%;
    --card-foreground: 214 80% 4%;

    --primary: 214 47% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 4% 87%;
    --secondary-foreground: 214 4% 27%;

    --accent: 214 4% 87%;
    --accent-foreground: 214 4% 27%;

    --destructive: 6 99% 29%;
    --destructive-foreground: 6 99% 89%;

    --border: 214 4% 90%;
    --input: 214 4% 90%;
    --ring: 214 47% 41%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 57% 2%;
    --foreground: 214 34% 97%;

    --card: 214 57% 2%;
    --card-foreground: 214 34% 97%;

    --muted: 214 24% 8%;
    --muted-foreground: 214 6% 65%;

    --popover: 214 57% 2%;
    --popover-foreground: 214 34% 97%;

    --primary: 214 47% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 34.48 60% 55.77%;
    --secondary-foreground: 61.13 74.82% 90.84%;

    --accent: 214 17% 18%;
    --accent-foreground: 214 17% 78%;

    --destructive: 6 99% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 4% 10%;
    --input: 214 4% 10%;
    --ring: 214 47% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .title {
    @apply text-center text-4xl font-extrabold tracking-tight;
  }
  .page-primary-title {
    @apply mx-auto max-w-2xl text-balance text-center text-4xl font-bold;
  }
  .filepond--panel-root {
    @apply !bg-background;
  }
  .filepond--drop-label {
    @apply !text-foreground;
  }
  .input-phone {
    @apply h-10 rounded-md border border-input bg-background px-3 text-sm placeholder:text-foreground !important;
    input {
      @apply h-9 border-0 focus:ring-0;
    }
  }
}
